@import url("https://fonts.googleapis.com/css?family=Charmonman");

body {
  margin: 0;
  padding: 0;
  background: gray;
  background-size: cover;
}
header {
  background: black;
  color: pink;
  padding: 8px 0px 3px 20px;
  height: 60px;
}
header nav h1 {
  display: inline;
  cursor: pointer;
  font-family: "Charmonman", cursive;
  font-weight: 400;
  font-size: 32px;
  float: left;
  margin-top: -10px;
  margin-right: 10px;
}
header nav h1 a {
  text-decoration: none;
  color: pink;
}
header nav ul#navul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 15px;
}
header nav ul#login {
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
  list-style: none;
}
/* nav ul#login li {
  display: inline;
  float: right;
  font-size: 26px;
  list-style: none;
} */
header nav ul#navul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
}

header nav ul#navul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
}

header nav ul#navul:hover li a {
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}

header nav ul#navul li a:hover {
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}

header nav ul#navul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

header nav ul#navul li a:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}
/* nav ul {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}
nav ul#login {
  display: inline;
  font-family: "Charmonman", cursive;
  font-size: 32px;
  float: right;
  color: white;
}
nav ul li {
  float: left;
  width: 200px;
  height: 40px;
  margin-bottom: 1px;
  background-color: black;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
nav ul li a {
  color: white;
  text-decoration: none;
} */

#navul {
  font-family: "Charmonman", cursive;
}
.divider {
  background-color: red;
  height: 5px;
}

