body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: gray;
}
.header {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  padding: 30px 0;
  width: 100%;
  background: #000;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1500px;
  height: 300px;
}
.card {
  /* perspective: 1000; */
  position: relative;
  display: inline-block;
  margin: 0 50px;
  width: 200px;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.front {
  position: absolute;
  width: 200px;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  position: absolute;
  width: 200px;
  height: 100%;
  backface-visibility: hidden;
  transform:rotate3d(0,1,0,-180deg);
  transform: rotateY(180deg);
}
.card-flipped .front {
  transform:rotate3d(0,1,0,180deg);  
}
.card-flipped .back {
  transform:rotate3d(0,1,0,0deg);   
}
.play-btn {
  position: relative;
  display: flex;
  justify-content: center;
}
.play-btn button {
  visibility: hidden;
  margin: 30px 10px;
  width: 300px;
  font-size: 2rem;
  border-radius: 0;
  padding: 9px 20px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}
#restart {
  display: none;
  visibility: hidden;
}
.mask {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}
.intro {
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.9);
  white-space: pre-line;
  text-align: center;
  margin: 200px auto 0px auto;
  font-weight: bolder;
  font-size: 20px;
  line-height: 50px;
  /* font-family: "微軟正黑體"; */
  padding: 20px;
  text-transform: uppercase;
text-align: center;
}
.intro button {
  font-size: 20px;
  display: block;
  margin: 70px auto 0 auto;
  padding: 10px;
}